
absl-py==0.11.0
actionlib==1.12.1
angles==1.9.12
astor==0.8.1
attrs==20.3.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==3.2.1
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.29
catkin-pkg==0.4.23
configparser==4.0.2
contextlib2==0.6.0.post1
controller-manager==0.18.3
controller-manager-msgs==0.18.3
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.6.3
entrypoints==0.3
enum34==1.1.10
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.4.0
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
grpcio==1.34.1
h5py==2.10.0
image-geometry==1.13.0
importlib-metadata==2.1.1
interactive-markers==1.11.5
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.10.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
Jinja2==2.11.2
joint-state-publisher==1.12.15
jsonschema==3.2.0
jupyter-client==5.3.5
jupyter-core==4.6.3
kdl-parser-py==1.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
laser-geometry==1.6.7
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.5
message-filters==1.14.10
mistune==0.8.4
mock==3.0.5
moveit-ros-planning-interface==1.0.7
moveit-ros-visualization==1.0.7
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.10
numpy==1.16.6
open3d==0.9.0.0
opencv-python==4.2.0.32
packaging==20.8
pandocfilters==1.4.3
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.9.0
prompt-toolkit==1.0.18
protobuf==3.14.0
ptyprocess==0.7.0
Pygments==2.5.2
pyparsing==2.4.7
pyrsistent==0.16.1
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.5
PyYAML==5.3.1
pyzmq==19.0.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.6
rosbag==1.14.10
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.10
roslaunch==1.14.10
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.10
rosmake==1.14.9
rosmaster==1.14.10
rosmsg==1.14.10
rosnode==1.14.10
rosparam==1.14.10
rospkg==1.2.9
rospy==1.14.10
rosservice==1.14.10
rostest==1.14.10
rostopic==1.14.10
rosunit==1.14.9
roswtf==1.14.10
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.16
scandir==1.10.0
Send2Trash==1.5.0
sensor-msgs==1.12.8
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
srdfdom==0.5.2
subprocess32==3.5.4
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.10
tornado==5.1.1
traitlets==4.3.3
urdfdom-py==0.4.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xacro==1.13.9
zipp==1.2.0